{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <title>Contact</title>
</head>
<body>
    <header class="text-white bg-gray-800">
        <nav class="flex items-center justify-between px-4 py-4 mx-auto max-w-7xl">
            <div class="text-xl font-bold">
                logo
            </div>
            <ul class="flex space-x-6">
                <li><a href="{% url 'store_contact' %}"class="hover:text-gray-400">Creer un contact</a></li>
                <li><a href="{% url 'logout' %}"class="hover:text-gray-400">Deconnexion</a></li>
            </ul>
            <div>
                <p class="text-sm">Name</p>
            </div>
        </nav>
    </header>
    <main class="">
        {% block content %}
        {% endblock content %}
    </main>
    <footer class="py-4 text-center text-white bg-gray-800">
        <p class="text-sm">Design by ...</p>
        <p class="text-sm"> CopyRight &copy; 2026 </p>
    </footer>
    <script src="{% static 'js/contact/index.js' %}"></script>
</body>
</html>

