{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <title>Contact</title>
</head>
<body>
    <header>
        <nav>
            <div>
                logo
            </div>
            <ul>
                <li><a href="{% url 'create_contact' %}">Creer un contact</a></li>
                <li><a href="#">Deconnexion</a></li>
            </ul>
            <div>
                <p>Name</p>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
        <p>Design by ...</p>
        <p> CopyRight &copy; 2026 </p>
    </footer>
</body>
</html>