{% extends './layout/base.html' %}

{% block content %}
    <div class="py-8">
        <p>
            Liste des contacts
        </p>
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>Pays</th>
                    <th>Phone</th>
                    <th>Ville</th>
                    <th>Quartier</th>
                    <th>Rue</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                
                {% for contact in contacts  %}
                    <tr>
                        <td>{{contact.nom}}</td>
                        <td>{{contact.prenom}}</td>
                        <td>{{contact.email}}</td>
                        <td>{{contact.pays}}</td>
                        <td>{{contact.phone}}</td>
                        <td>{{contact.phone}}</td>
                        <td>{{contact.ville}}</td>
                        <td>{{contact.quartier}}</td>
                        <td>{{contact.rue }}</td>
                        <td>
                            <a href="{% url 'edit_contact' contact.id %}">Edit</a>
                            <a href="{% url 'show_contact'  contact.id %}">Show</a>
                            <a href="{% url 'delete_contact' contact.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                    
                
            </tbody>
        </table>
    </div>
{% endblock content %}