{% load static tailwind_tags %}

<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./assets/css/output.css" rel="stylesheet">
  <link rel="stylesheet" href="./assets/fontawesome/css/all.css">
  {% tailwind_css %}
  
</head>

<body>
    <main class="flex items-center justify-center bg-gradient-to-r from-gray-50 to-gray-200 h-screen font-poppins">

        

        <form action="{% url 'edit_contact' contact.id%}" id="formLoginPage" method="POST" 
            class="flex  shadow-2xl rounded-2xl w-[40%] min-h-[60%] relative overflow-hidden transition-all  duration-2000 ease-linear"
        >
        
        {% csrf_token %}

            <div class="custom-shape-divider-bottom-1765470033   absolute top-0 left-0 w-full overflow-hidden">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="relative block  fill-black"></path>
                </svg>
            </div>

            <div class="p-16 w-full">
                <div class=" flex flex-col items-start w-full  justify-center">
                    <h1 class="font-bold text-3xl text-right mb-5">Edit contact</h1>

                    <div class="grid grid-cols-2 w-full gap-3">
                        <div class="grid col-span-1 w-full mt-5">
                            <label class="text-[13px] font-bold mb-1.5" for="">Nom</label>
                            <input type="text" class="h-10 border-2 bg-gray-50 text-xs border-gray-300 rounded-md w-full " value = {{contact.nom}} name="nom" placeholder="Entrer votre nom">
                        </div>
                        <div class="grid col-span-1 w-full mt-5">
                            <label class="text-[13px] font-bold mb-1.5" for="">Prenom</label>
                            <input type="text" class="h-10 border-2 bg-gray-50 text-xs border-gray-300 rounded-md w-full " value = {{contact.prenom}} name="prenom" placeholder="Entrer votre prenom">
                        </div>
                    </div>

                    <div class="grid grid-cols-2 w-full gap-3">
                        <div class="grid col-span-1 w-full mt-5">
                            <label class="text-[13px] font-bold mb-1.5" for="">Email</label>
                            <input type="email" class="h-10 border-2 bg-gray-50 text-xs border-gray-300 rounded-md w-full " value = {{contact.email}} name="email" placeholder="Entrer votre email">
                        </div>
                        <div class="grid col-span-1 w-full mt-5">
                            <label class="text-[13px] font-bold mb-1.5" for="">Pays</label>
                            <input type="text" class="h-10 border-2 bg-gray-50 text-xs border-gray-300 rounded-md w-full " value = {{contact.pays}} name="pays" placeholder="Entrer votre pays">
                        </div>
                    </div>
                    <div class="grid grid-cols-2 w-full gap-3">
                        <div class="grid col-span-1 w-full mt-5">
                            <label class="text-[13px] font-bold mb-1.5" for="">phone</label>
                            <input type="text" class="h-10 border-2 bg-gray-50 text-xs border-gray-300 rounded-md w-full " value = {{contact.phone}} name="phone" placeholder="Entrer votre phone">
                        </div>
                        <div class="grid col-span-1 w-full mt-5">
                            <label class="text-[13px] font-bold mb-1.5" for="">Ville</label>
                            <input type="text" class="h-10 border-2 bg-gray-50 text-xs border-gray-300 rounded-md w-full " value = {{contact.ville}} name="ville" placeholder="Entrer votre ville">
                        </div>
                    </div>
                    <div class="grid grid-cols-2 w-full gap-3">
                        <div class="grid col-span-1 w-full mt-5">
                            <label class="text-[13px] font-bold mb-1.5" for="">rue</label>
                            <input type="text" class="h-10 border-2 bg-gray-50 text-xs border-gray-300 rounded-md w-full " value = {{contact.rue}}  name="rue" placeholder="Entrer votre rue">
                        </div>
                        <div class="grid col-span-1 w-full mt-5">
                            <label class="text-[13px] font-bold mb-1.5" for="">Quartier</label>
                            <input type="text" class="h-10 border-2 bg-gray-50 text-xs border-gray-300 rounded-md w-full " value = {{contact.quartier}} name="quartier" placeholder="Entrer votre rue">
                        </div>
                        
                    </div>

                    <div class="grid grid-cols-2 w-full gap-3">
                        <button class=" col-span-1 bg-black mt-8 h-10 font-bold hover:bg-gray-800 text-white text-sm rounded-md w-full" type="submit">
                            Editer
                        </button>
                        <a href="{% url 'contact' %}">
                            <button class="bg-gray-400 col-span-1  mt-8 h-10 font-bold hover:bg-gray-600 text-white text-sm rounded-md w-full" type="button">
                                Annuler
                            </button>
                        </a>
                      </div>
                
                
                </div>
            </div>
        </form>

    </main>

</body>
</html>